*:focus {
    outline: none;
}
* {
    transition: .3s;
    font-family: "Raleway", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: url(../img/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sub-container {
    width: 85%;
    position: relative;;
    min-width: 289px;
}
.thumbs {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: grid;
    align-items: center;
    background: hsl(228, 56%, 26%);
}
#box-one {
    
    height: 220px;
    margin-bottom: 23px;
    border-radius: 10px 100px 10px 10px;
}
.file-icons-con {
    width: max-content;
    margin-left: 40px;
}
.logo {
    margin-bottom: 40px;
}
.icon {
    margin-right: 10px;
    background: hsl(229, 57%, 11%);
    border-radius: 10px;
}
.icon:nth-child(1) {
    padding: 14px 17px;
}
.icon:nth-child(2) {
    padding: 16px 14px;
}
.icon:nth-child(3) {
    padding: 18px 14px;
}
#box-two {
    height: 160px;  
    border-radius: 10px;
}
.storage-details {
    width: 80%;
    margin: auto; 
    
    font-size: 14px;
    color: hsl(243, 100%, 93%);
}
.storage-details p {
    text-align: center;
    width: 100%;
}
.disk-bar {
    margin: 15px 0px 7px 0;
    padding: 3px;
    width: 97%;
    background: hsl(229, 57%, 11%);
    border-radius: 100px;
}
.disk-bar-level {
    width: 74%;
    display: grid;
    justify-items: right;
    padding: 2px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 100px;
}
.knot {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100px;
}
.fig {
    width: 100%;
}
.figures:first-child {
    float: left;
}
.figures:last-child {
    float: right;
}
.gig {
    font-size: 13px;
}
.available {
    background-color: white;
    border-radius: 10px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    width: max-content;
    margin: auto;
    margin-top: -30px;
}
.available div:first-child {
    color: hsl(229, 57%, 11%);
    font-weight: 700;
    font-size: 40px;
    margin-right: 10px;
}
.available div:nth-child(2) {
    color: hsl(229, 7%, 55%);
    font-size: 13px;
}
.pointer {
    display: none;
}
#bubble-desktop {
    display: none;
}
.bg-desktop-container {
    display: none;
}
@media only screen and (min-width: 1025px) {
    body {
        background: hsl(229, 57%, 11%);
    }
    .container {
       
    }
    .sub-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #box-one {
        margin: 0 25px 0 0;
        max-width: 350px;
    }
    #box-two {
        max-width: 550px;
        margin: 0;
        position: relative;
    }
    #bubble-mobile {
        display: none;
    }
    #bubble-desktop {
        display: flex;
        margin: 0;
        position: absolute;
        right: 65px;
        top: -50px;
        border-bottom-right-radius: 0;
    }
    .storage-details p {
        text-align: left;
    }
    .pointer {
        display: block;
        position: absolute;
        transform: rotate(180deg);
        right: 0;
        bottom: -25px;
        width: 0;
        height: 0;
        border-bottom: 27px solid white;
        border-right: 27px solid transparent;
    }
    .bg-desktop-container {
        display: block;
        height: 50%;
        width: 100%;
        background: url(../img/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}
